.contenedor {
    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.contenedor1 {
    display: grid;
    grid-template-columns: 25% 65%;
    grid-template-rows: auto;
    grid-gap: 2px;
}


/* con el display:grid; le vamos a decir que el contenedor va a ser una grid */


/* vamos a especificar cuantas filas y columnas queremos que tengan grid-template-columns: 100px 100px ; */


/* con grid gap podemos poner espaciados entre varios elementos */