/* ESTOS SON LOS ESTILOS DE LA TABLA DE USUARIOS */

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 8px;
    color: rgb(247, 140, 140);
}


/* AQUI TERMINAN LOS ESTILOS DE LA TABLA DE USUARIOS */