body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    background-color: #ffffff;
    color: #1a1a1a;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    min-height: 80px;
}

.nav-link {
    color: #1a1a1a;
}

.nav-link {
    color: #1a1a1a;
}

.navbar-toggler {
    font-size: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

h1 {
    font-size: 66px;
    font-weight: 600;
    line-height: 80px;
}

h2 {
    font-size: 48px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    color: #999999;
    line-height: 1.8;
    margin-bottom: 0;
}

.bg-Dark {
    background-color: var(--dark-color);
}

.bg-Light {
    background-color: var(--white-color);
}

.bg-Light-Grey {
    background-color: #f5f5f5;
}

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;
}

.content-center p {
    color: #ffffff;
}

.content-center2 p {
    color: #807c7c;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.content-center2 {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

#imagenprincipal {
    background-image: url('../imagenes/hero.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}

#imagenprincipal1 {
    background-image: url('../imagenes/contacto2.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}

.topmargin-xs {
    margin-top: 15px;
}

.topmargin-sm {
    margin-top: 30px;
}

.topmargin-lg {
    margin-top: 90px;
}

section {
    padding: 120px 0;
}

.divider {
    border-bottom: 2px solid #f5f5f5;
}

.logo-brand {
    max-width: 180px;
    min-width: 160px;
}

.full-width {
    width: 100%;
}

.portafolio-container {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portafolio-details {
    position: absolute;
    bottom: 25px;
    /*para que este 25 px arriba de la parte de abajo*/
    left: 25px;
    border-radius: 2px;
    z-index: 9000;
}

.portafolio-container img {
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.portafolio-container:hover img {
    -moz-transforms: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

.portafolio-details a h2,
.portafolio-details a p {
    color: #ffff;
}

.portafolio-details h2 {
    margin-bottom: 0px;
}

.pdestacados b {
    margin: 50px 0;
}

.member-container {
    position: relative;
    margin: 10px 0px;
}

.member-details {
    position: absolute;
    color: #ffffff;
    bottom: 0px;
    left: 20px;
}

.member-details span {
    font-size: 14px;
}

.member-details i {
    padding: 0 5px;
}

a i {
    font-size: 22px;
    color: #ffffff;
}


/* Este quita el color de la linea azul debajo de la letra de los href que hay dentro de las imagenes de inicio */

a:hover {
    text-decoration: none;
}

.editari {
    color: blue;
}

.bg-dark {
    background-color: #1a1a1a !important;
}

#footer {
    padding: 80px 0;
    text-align: center;
    color: #ffffff;
}

#footer a {
    color: #ffffff;
}

#footer a:hover {
    color: #ffffff;
}

#footer .list-inline .list-inline-item {
    padding: 10px 15px;
}


/* //////////////
   Footer
//////////////*/

footer {
    padding: 80px 0;
    text-align: center;
    color: var(--white-color);
}

footer a {
    color: var(--white-color);
}

footer a:hover {
    color: var(--white-color);
}

footer .list-inline .list-inline-item {
    padding: 10px 15px;
}

.button-edit {
    box-shadow: none !important;
}

#btneditc {
    background: none;
}


/* MEDIA QUERIS*/

@media (max-width: 575.98px) {
    h1 {
        font-size: 40px;
        line-height: normal;
    }
    .portfolio-details h2 {
        font-size: 32px;
    }
    .plans {
        min-width: unset;
        padding: 40px;
    }
    .carousel-item p {
        font-size: 20px;
    }
    .footer-menu {
        display: block !important;
        padding: 20px 0 !important;
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    .portfolio-details h2 {
        font-size: 30px;
    }
    .plans {
        min-width: unset;
        padding: 40px 20px;
    }
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    font-size: 20px;
    line-height: 50px;
    text-align: left;
}

.contenedor>div {
    display: block;
    padding: 20px;
    color: #363636;
    background: #f0f1f1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}

.contenedor1 {
    width: 90%;
    max-width: 100%;
    margin: auto;
    font-size: 20px;
    line-height: auto;
}

.contenedor1>div {
    display: block;
    padding: 20px;
    color: #363636;
    background: #f0f1f1;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
}

.my-float {
    margin-top: 16px;
}

.float2 {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    background-color: #4e73df;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float2:hover {
    text-decoration: none;
    color: #25d366;
}

.my-float2 {
    margin-top: 16px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}